<html>

<head>
    {{>index}}
</head>

<body>
    {{#achievement}}
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Healthy Lifestlyle Achievement</h4>
            <p class="card-text">
                name :{{name}}
            </p>
        </div>
    </div>
    {{/achievement}}
</body>

</html>