<!DOCTYPE html>
<html>

<head>
	{{>index}}
</head>

<body>
	<header class="header">
		<div class="logo">
			<img src="./images/logo.png" alt="logo">
			<p> <a href="/aboutUs">Wellness Web App</a></p>
		</div>
		<nav class="nav">
			<div class="text-right" style="margin-bottom: 1em;">
				{{^user}}
				<a id="login" href="/login" class="btn btn-primary">
					Sign in
				</a>
				<a id="login" href="/register" class="btn btn-primary">
					Register
				</a>
				{{/user}}
				{{#user}}
				<a id="logout" href="/logout" class="btn btn-primary">
					Sign out
				</a>
				{{/user}}
			</div>
		</nav>
	</header>
	<section class="about-section">
		<img src="/images/wellness.jpg" alt="about">
		<a>
			<p class="about-text"></p>
			<div class="about-box">
				
				<h2 class="title">{{title}}</h2>
				</p>
				<a href="/wellnessApp" class="aboutus">

				<p>
					Wellbeing is fundamental to human health and overall happiness. Having a strong and well-adapted
					sense of wellbeing can help people help overcome difficulties and achieve their goals. It also has
					important social benefits improving educational attainment, economic productivity, social and family
					relationships, social cohesion and overall quality of life
				</p>
				<p>
					Eating a healthy balanced diet, getting enough sleep and exercise, and creating healthy habits can
					help
					individuals improve their wellbeing.
				</p>
				<p>With the development of this web application will enable users to find information about
					wellbeing and could set themselves goals to help enhance their sense of wellbeing.
				</p>
				<p>Wellbeing is subjective and will be different for different people so the application
					allows individuals to set their own goals.
				</p>
			</div>
		</a>
	</section>
</body>

</html>