<!DOCTYPE html>
<html>

<head>
    {{>index}}
</head>

<body>
    <header class="header">
        <div class="logo">
            <img src="./images/logo.png" alt="logo">
            <p> <a href="/aboutUs">Wellness Web App</a></p>
        </div>
        <nav class="nav">
            <a href="/aboutUs">About</a>
            <a href="/register">Register</a>
            <a href="/login">Login</a>
        </nav>
    </header>
    <section class="login-section">
        <a>
            <p class="login-text"></p>
            <div class="login-box">
                <h2 class="title">{{title}}</h2>
                </p>
                <div id="formContent">
                    <form method="POST" action="/login">
                        <label-login for="username">Username</label-login>
                        <input type="text" style="text-align: center" id="username" name="username" required><br><br>
                        <label-login for="password">Password</label>
                            <input type="password" style="text-align: center" id="password" name="password"
                                required><br><br>
                            <input type="submit" value="Sign In" class="btn btn-primary">
                    </form>
                    </p>
                </div>
        </a>
    </section>
</body>

</html>