<!DOCTYPE html>
<html>
<head>
   {{Register}}
   {{>index}}
   
</head>
<body>
    <header class="header">
        <div class="logo">
            <img src="./images/logo.png" alt="logo">
               <p> <a href="/aboutUs">Wellness Web App</a></p>
            
        </div>
        <nav class="nav">
            <a href="/aboutUs">About</a>
			<a href="/register">Register</a>
			<a href="/login">Login</a>
        </nav>
    </header>
    <section class="about-section">
        <a>
            <p class="about-text"></p>
            <div class="login-box">
                <h2 class="title">Register</h2>
                </p>
                <form method="post" action="login.php">
                    <label-login for="email">Email</label>
                    <input type="text" id="eamil" name="email" required><br><br>
                    <label-login for="password">Password</label>
                    <input type="password" id="password" name="password" required><br><br>
                    <button type="submit" value="create account">Create an account</button>
                </form>
                </p>
            </div>
        </a>
    </section>
</body>

</html>