<!DOCTYPE html>
<html>

<head>
    {{Register}}
    {{>index}}

</head>

<body>
    <header class="header">
        <div class="logo">
            <img src="./images/logo.png" alt="logo">
            <p> <a href="/aboutUs">Wellness Web App</a></p>

        </div>
        <nav class="nav">
            <a href="/aboutUs">About</a>
            <a href="/register">Register</a>
            <a href="/login">Login</a>
        </nav>
    </header>
    </p>
    <h2>New User Registration</h2>
    <form method="post" role="/register">
        <div class="form-group">
            {{user-name-error}}
            </p>
        </div>
        <label for="username">User Name</label>
        <input type="text" class="form-control" id="username" name="username" placeholder="Enter user name" required>
        </div>
        <div class="form-group">
            <label for="password">Password (8 characters minimum)</label>
            <input type="password" class="form-control" id="pass" name="pass" placeholder="Enter password" minlength="8"
                required>
        </div>
        <div class="form-group">
            <input type="submit" value="Register" class="btn btn-primary">
        </div>
    </form>
</body>
</body>

</html>