<!DOCTYPE html>
<html>

<head>

    {{>index}}
</head>

<body>
    <header class="header">
        <div class="logo">
            <img src="./images/logo.png" alt="logo">
            <p> <a href="/aboutUs">Wellness Web App</a></p>
        </div>
        <nav class="nav">
            <a href="/aboutUs">About</a>
            <a href="/register">Register</a>
            <a href="/login">Login</a>
        </nav>
    </header>
    <section class="login-section">
        <a>
            <p class="login-text"></p>
            <div class="login-box">
                <h2 class="title">Register </h2>
                </p>
                <div id="formContent">
                    <form method="post" role="/register">
                        <div class="form-group">
                            {{user-name-error}}

                            <label-login for="username">Username</label-login>
                            <input type="text" style="text-align: center" class="form-control" id="username"
                                name="username" required>
                        </div><br><br>
                        <div class="form-group">
                            <label-login for="password">Password (8 characters minimum)</label-login>
                            <input type="password" class="form-control" style="text-align: center" id="pass" name="pass"
                                minlength="8" required>
                        </div><br><br>
                        <div class="form-group">
                            <input type="submit" value="REGISTER" class="btn btn-primary">
                        </div>
                    </form>
                </div>
        </a>
    </section>
</body>
</body>

</html>