<html>
  <head>
    {{>header}}
  </head>
  <body>
  <div class="card">
    <div class="card-body">
          <h4 class="card-title">Fitness goal id {{change}}</h4> 
          {{#fitnessGoal}}
          <p class="card-text">
                id :{{id}} 

            </p>
            <p class="card-text">
                Fitness goal Id :{{id}}
            </p>
            {{/fitnessGoal}}

    </div>
  </div> 
  
    </div>
  </div> 
  </body>
</html>