<!DOCTYPE html>
<html>{{>index}}
    <head>
Add Nutrition Personal Goal</head>
<form action="/nutrition" method="get" style="color: white;">
    <fieldset>
    <label for="id">id:</label>
    <input type="text" id="id" name="id">

    <label for="max-kcal">Max Kcal:</label>
    <input type="text" id="max-kcal" name="max-kcal">

    <label for="start-date">Start Date:</label>
    <input type="date" id="start-date" name="start-date">

    <label for="end-date">End Date:</label>
    <input type="date" id="end-date" name="end-date">

    <button type="submit" id="add-nutrition-personal-goal-button"
        style="color: white; background-color: rgb(77, 77, 77);  ">+Add</button>
 
    </form>
</html>