<html>

<head>
    {{>index}}
</head>

<body>
    {{#goal}}
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Nutrition Goal</h4>
            <p class="card-text">
                id :{{id}}
            </p>
            <p class="card-text">
                maxkcal :{{maxkcal}}
            </p>
            <p class="card-text">
                startDate :{{startDate}}
            </p>
            <p class="card-text">
                endDate: {{endDate}}
            </p>
        </div>
    </div>
    {{/goal}}
</body>

</html>